# 飞书云文档的 API key 信息 https://open.feishu.cn/document/ukTMukTMukTM/uczNzUjL3czM14yN3MTN
[keyInfo]
key = yourName
secret = youkeySecretXxx
appId = xxxx


[apiUrl]
# https://sandbox.yinxiang.com/api/DeveloperToken.action
NoteStoreUrl = https://sandbox.yinxiang.com/shard/s1/notestore

